.background {
  viewport-fill: black;
}



#foodcalories{
  fill:grey;
  font-size:90;
   text-length:100;
  x:5%;
  y:50%;
}

#balancecalories{
  fill:green;
  font-size:90;
  x:5%;
  y:85%;
  text-length:100;
}

#burnedcalories{
  fill:blue;
  font-size:90;
  x:5%;
  y:20%;
   text-length:100;
}